:root {
    --color-bg: #A0A0A0;
    --color-container-bg: white;
    --color-rainbow-red: rgb(255, 0, 0);
    --color-rainbow-orange: rgb(255, 154, 0);
    --color-rainbow-lime: rgb(208, 222, 33);
    --color-rainbow-green: rgb(79, 220, 74);
    --color-rainbow-aqua: rgb(63, 218, 216);
    --color-rainbow-darkeraqua: rgb(47, 201, 226);
    --color-rainbow-blue: rgb(28, 127, 238);
    --color-rainbow-purple: rgb(95, 21, 242);
    --color-rainbow-violet: rgb(186, 12, 248);
    --color-rainbow-magenta: rgb(251, 7, 217);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--color-bg);
    margin: 0;
}

.container {
    background-color: var(--color-container-bg);
    padding: 20px 40px;
    margin: auto;
    height: 100vh;
    max-width: 1024px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-container-bg);
    align-items: center;
}

@media screen and (min-width: 700px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .header__title {
        font-size: 96px;
    }
}

.header__title:hover .header__title_effect {
    font-style: italic;
}

.navigation {
    /* width: 100%; */
    width: 50%;
}

.navigation__list {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0.5rem 0;
}

.navigation_item {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .navigation_item {
        font-size: 24px;
    }
}

.navigation_item a {
    text-decoration: none;
    color: inherit;
}

.navigation_item:hover a, .navigation_item.active a {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 50%;
}

.rainbow_divider {
    height: 8px;
    background: linear-gradient( 90deg, 
    var(--color-rainbow-red) 0%, 
    var(--color-rainbow-orange) 10%, 
    var(--color-rainbow-lime) 20%, 
    var(--color-rainbow-green) 30%, 
    var(--color-rainbow-aqua) 40%, 
    var(--color-rainbow-darkeraqua) 50%, 
    var(--color-rainbow-blue) 60%, 
    var(--color-rainbow-purple) 70%, 
    var(--color-rainbow-violet) 80%, 
    var(--color-rainbow-magenta) 90%, 
    var(--color-rainbow-red) 100%);
}

main {
    background-color: var(--color-container-bg);
    height: auto;
    padding: 20px 0;
    font-size: 18px;
    line-height: 2rem;
}

p a {
    color: var(--color-rainbow-purple);
    font-style: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 50%;
}

p a:hover, p a:focus {
    color: var(--color-rainbow-magenta);
    text-decoration-style: wavy;
    text-decoration-color: var(--color-rainbow-magenta);
}